body
{
    background:linear-gradient(180deg, #805875, #5e2750,#411934);
    
    color:white;
    font-weight: bold;
}


#main-container
{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator
{
    background-color:  #333333;
    width:500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px black;
 
}

#display-container
{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 20%;
    
    
    
}

#calc-result
{   
    width: 90%;
    height: 70%;
    background-color:#471d3c;
    color:white;
    font-weight: bold;
    font-size:19px;
    border:none;
   
}

#input-container
{
    display:flex;
    justify-content: center;
    padding-top:25px;
    height:60%;
    width: 100%;
    background-color:#cc0000 ;
       
}

#output-control-container
{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    width:100%;
    height:10%;
    
}

#operators-container
{  
    margin-left:10px;
    margin-right:10px;
    padding:25px;
    display: grid;
    grid-template-areas:
    "content content";
    background-color:#B6AFA8;
    width:30%;
    height:80%;
    border-radius:5px;
}

#keys-container
{
    
    margin-left:10px;
    margin-right:10px;
    padding:25px;
    padding-top:30px;
    display: grid;
    grid-template-areas:
    "content content content";
    padding-right:0px;
    background-color: #411934;
    width:60%;
    height:80%;
    border-radius:5px;
    
}
.operator
{
    width:60px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333333;
    border-radius:5px;
    box-shadow: 1px 0px 3px black;
    

}

.operand
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:40px;
    background-color:#333333;
    border-radius:5px;
    box-shadow: 1px 0px 3px black;
    

}


